<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>warehouse</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WarehouseServlet</display-name>
    <servlet-name>WarehouseServlet</servlet-name>
    <servlet-class>warehouse.WarehouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WarehouseServlet</servlet-name>
    <url-pattern>/WarehouseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Warehouse</display-name>
    <servlet-name>Warehouse</servlet-name>
    <servlet-class>warehouse.Warehouse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Warehouse</servlet-name>
    <url-pattern>/Warehouse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillServlet</display-name>
    <servlet-name>BillServlet</servlet-name>
    <servlet-class>warehouse.BillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillServlet</servlet-name>
    <url-pattern>/BillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bill</display-name>
    <servlet-name>bill</servlet-name>
    <servlet-class>warehouse.bill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bill</servlet-name>
    <url-pattern>/bill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>connection</display-name>
    <servlet-name>connection</servlet-name>
    <servlet-class>warehouse.connection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connection</servlet-name>
    <url-pattern>/connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WarehouseServlet_d</display-name>
    <servlet-name>WarehouseServlet_d</servlet-name>
    <servlet-class>warehouse.WarehouseServlet_d</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WarehouseServlet_d</servlet-name>
    <url-pattern>/WarehouseServlet_d</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewservlet</display-name>
    <servlet-name>viewservlet</servlet-name>
    <servlet-class>warehouse.viewservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewservlet</servlet-name>
    <url-pattern>/viewservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mail</display-name>
    <servlet-name>mail</servlet-name>
    <servlet-class>warehouse.mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mail</servlet-name>
    <url-pattern>/mail</url-pattern>
  </servlet-mapping>
</web-app>